.btn.btn-outline-warning {
	pointer-events: none;
}

.select-a {
	background-image: url("../public/assets/animals.png");
	background-size: cover;
	width: 110px;
	height: 110px;
}
.select-b {
	background-image: url("../public/assets/vehicles.png");
	background-size: cover;
	width: 110px;
	height: 110px;
}
